fastapi==0.103.1
libclang==18.1.1
numpy==1.25.2
openai==1.35.7
protobuf==4.25.3
pydantic==1.10.12
Pygments==2.18.0
pymongo==4.8.0
python-dotenv==1.0.0
python-multipart==0.0.9
PyYAML==6.0.1
tqdm==4.66.1
typing_extensions==4.7.1
urllib3==2.0.4
uvicorn==0.23.2
watchfiles==0.20.0
websockets==11.0.3
Werkzeug==2.3.7
wrapt==1.16.0
